# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Secrets
config/.env

# Jupyter & cache
*.ipynb
*.sqlite3
*.log
*.csv
*.html
.pytest_cache/
.env
.env.*

# VSCode & OS junk
.vscode/
.DS_Store

# Dash & testing cache
dash-testing.log
